.Each_Post_Layout {
    background-color: white;
    margin-bottom: 28px;
    border-radius: 7px;
}

.Titles {
    color: rgb(253, 140, 10);
}
.Each_Post_Lower_Section {
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 5px;   
}

.FetchList > ul > li{
    list-style: none;
}